[Unit]
Description=Steuerung Endstufe
After=runlevel3.target

[Service]
Type=simple
User=endstufe
WorkingDirectory=/etc/endstufe/
ExecStart=/etc/endstufe/endstufe.py
SyslogIdentifier=endstufe
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=10

[Install]
WantedBy=default.target